@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #878787;
}


.left-links, .right-links {
  display: flex;
  gap: 25px;
  padding: 0px 25px;

}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.footer {
  background-color: #eeeeee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  

}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 650px;
  gap: 25px;
  margin: auto;
}